.trade {
    margin: 0 10%;
    margin-top: 3%;
}

.btn1 {
    margin-left: 1%;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    border-radius: 50px;
    height: 50px;
    width: 10%;
    cursor: pointer;
}